:root {
  --backgroundColor: #000000;
  --foregroundColor: #ffffff;
  --highlightColor: #ff0000;

  font-family: 'Unscii', monospace;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

@font-face {
  font-family: "Unscii";
  src: url("unscii-16-full.woff") format("woff");
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body, pre, button, kbd{
  font-family: 'Unscii';
  line-height: 1;
  margin:0;
}
main, .app {
  display:flex;
  height: 100%;
  width:100%;
  flex-direction: column;
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
}
.grid {
  background-color: var(--backgroundColor);
}
button {
  font-family: "Unscii", monospace;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--foregroundColor);
  color: var(--backgroundColor);
  border-color: var(--foregroundColor);
}
input {
  border-color: var(--foregroundColor);
  outline-color: var(--backgroundColor); 
  background-color: var(--foregroundColor);
  color: var(--backgroundColor);
  accent-color: var(--highlightColor);
}
a {
  color: var(--highlightColor);
}
* {
  font-weight: normal;
}
hr {
  border-color: var(--foregroundColor);
}
h4 {
  margin: 5px 0;
  color: var(--backgroundColor);
  background-color: var(--highlightColor);
  width: fit-content;
  padding:2px;
  border-radius: 3px;
}
kbd {
    margin: 5px 0;
    color: var(--backgroundColor);
    background-color: var(--highlightColor);
    width: fit-content;
    padding:2px;
    border-radius: 3px;
}
ol li {
  margin-bottom: 5px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
SIDEBAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
ul {
  padding:0;
}
[role="separator"] {
  width:10px;
  min-height: 10px;
  background:
    radial-gradient(
      var(--foregroundColor), var(--backgroundColor)
    )
  ;
  background-size: 5px 5px;
  user-select: none;
}
@media (max-aspect-ratio: 1/1) {
  [role="separator"] {
    width: 100%;
  }
}